<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/colfusion</property>
  <property name="hibernate.default_catalog">colfusion</property>
  <property name="hibernate.connection.username">dataverse</property>
  <property name="hibernate.connection.password">dataverse</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  
  <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
  
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">300</property>
  
  
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Display and format all executed SQL to stdout -->
  <property name="show_sql">true</property>
  <property name="format_sql">true</property>
  <mapping resource="hibernate/orm_mappings/ColfusionAdditionalCategories.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionCachedQueriesInfo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionCanvases.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionCategories.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionCharts.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionColumnTableInfo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionComments.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionConfig.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionDesAttachments.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionDnameinfo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionDnameinfoMetadataEditHistory.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionExecuteinfo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionFormulas.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionFriends.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionGroupMember.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionGroups.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionGroupShared.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionLicense.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionLikes.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionLinks.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionLoginAttempts.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionMessages.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionMiscData.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionModules.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionNotifications.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionNotificationsUnread.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionOldUrls.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionOpenrefineProjectMap.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionPentahoLogLoggingChannels.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionPentahoLogPerformance.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionPentahoLogStep.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionPentahoLogTransformaion.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionProcesses.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionRedirects.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionRelationships.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionRelationshipsColumns.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionRelationshipsColumnsCachingExecutionInfo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionRelationshipsColumnsDataMathingRatios.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSavedLinks.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionShares.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSourceinfo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSourceinfoDb.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSourceinfoMetadataEditHistory.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSourceinfoTableKtr.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSourceinfoUser.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSynonymsFrom.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionSynonymsTo.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionTagCache.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionTags.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionTarget.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionTemporary.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionTotals.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionTrackbacks.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionUpdates.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionUserRelationshipVerdict.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionUserroles.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionUsers.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionValidationCode.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionVisualization.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionVotes.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/ColfusionWidgets.hbm.xml"/>
  <mapping resource="hibernate/orm_mappings/Statonverdicts.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
